.header-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 20px;
}

.navbar {
    margin: auto;
    width: 50%;
    padding: 20px;
}

.navbar a {
    text-decoration: none;
    color: rgb(49, 49, 49);
    cursor: pointer;
}