.portfolio-content {
    height: auto;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.portfolio-content h4 {
    color: rgb(255, 136, 115);
}

.portfolio-content .card {
    border-radius: 0px;
}

/* .card:hover {
    transform: scale(1.5);
} */

.portfolio-content button {
    border: 1px solid rgb(148, 148, 148);
    border-radius: 2px;
    color: rgb(99, 99, 99);
    background-color: white;
}