<div class="portfolio-content">
  <h4>Here is some of my work.</h4>
  <br>

  <div>
    <div class="card-columns">
      <div class="card">
        <img class="card-img-top" src="assets/images/project-placeholder.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Project Management Dashboard</h5>
          <p class="card-text">
            Project description here.
          </p>
          <a href="https://github.com/phumie/nrp-dashboard" class="card-link" target="_blank">Project link</a>
        </div>
      </div>

      <div class="card p-3">
        <blockquote class="blockquote mb-0 card-body">
          <h5 class="card-title">Fixme</h5>
          <p>Project description here.</p>
          <small>
            <a href="https://github.com/phumie/fixme" class="card-link" target="_blank">Project link</a>
          </small>
        </blockquote>
      </div>

      <div class="card">
        <img class="card-img-top" src="assets/images/project-placeholder.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Site Management App</h5>
          <p class="card-text">Project description here.</p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="assets/images/project-placeholder.png" alt="Card image cap">
      </div>

      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">UI/UX Designing</h5>
          <p class="card-text">Project desrciptions here.</p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="assets/images/project-placeholder.png" alt="Card image cap">
      </div>

      <div class="card p-3">
        <blockquote class="blockquote mb-0 card-body">
          <h5 class="card-title">My website</h5>
          <p>Project description here.</p>
          <small>
            <a href="https://github.com/phumie/fixme" class="card-link" target="_blank">Project link</a>
          </small>
        </blockquote>
      </div>

      <div class="card">
        <img class="card-img-top" src="assets/images/project-placeholder.png" alt="Card image cap">
      </div>
    </div>

    <button (click)="scrollToElement('contact')">Contact</button>
  </div>