.about-content {
    height: 100vh;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.about-content h4 {
    /* color: rgb(255, 136, 115); */
}

.about-content p {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-content .profile-photo {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.about-content button {
    border: 1px solid rgb(148, 148, 148);
    border-radius: 2px;
    color: rgb(99, 99, 99);
    background-color: white;
}